/* by niGraphic.com */
/* layout */
html, body{ 
background: url(images/bg_body.jpg) #4A4A4A repeat-x;
 margin:0; 
 padding:0; 
 text-align:center; 
} 
 body *{
 	margin: 0px;
	padding: 0px;
 }
 p {
margin:0.6em 0px 0px 1.2em;
}
#pagewidthHead{ 
 width:888px; 
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;  
} 
 
#headerHead{
 height:112px; 
 width:100%;
} 

 
#primaryHead{
 background-image: url(images/bg_primary_links.gif); 
 width:158px;
 height: 204px;
 float:left;  
  margin-left: 20px; 
  padding: 15px 0px 0px 0px;
  display:inline; 
 }
#maincolHead {
display:inline;
float:right;
height:219px;
margin-right:20px;
width:676px;
}
 /* ADD MORE HEADER BANNERS HERE */
.banner1{
 background-image: url(images/bg_header_banner.jpg);
 }
.banner2{
 background-image: url(images/bg_header_banner_2.jpg);
 }
.banner3{
 background-image: url(images/bg_header_banner_3.jpg);
 }
 
.clearfixHead:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfixHead{
display: inline-block;
}
.headerBg{
	background-color: #ff8800;
	display: block;
	
}
.headerBg:after{
clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.headBoxTop{
	width: 100%;
	height: 35px;
	background: url(images/bg_headbox_top.gif) no-repeat;
}
.headBoxBottom{
	float: left;
	clear: both;
	width: 100%;
	height: 22px;
	background: url(images/bg_headbox_bottom.gif) no-repeat;
}
/* Hides from IE-mac \*/
* html .clearfixHead{height: 1%;}
.clearfixHead{display: block;}
/* End hide from IE-mac */  

/* BODY layout */
#pagewidth{ 
margin-top: 20px;
 width:888px; 
 text-align:left;  
margin-left:auto; 
 margin-right:auto;  
} 

#leftCol{
 width:158px;
 background: url(images/bg_leftcol_top.gif) 0px 0px no-repeat #FFCA05; 
 float:left;  
  margin-left: 20px; 
  padding: 0;
  display:inline; 
 }
 .leftColBottom{
  width:158px;
  height: 20px;
 	background: url(images/bg_leftcol_bottom.gif) center bottom;
 }
 .leftColContent{
 	padding: 10px 4px 10px 7px;
 }
#maincolBody{
 width:676px;
 background: url(images/bg_maincol_top.gif) 0px 0px no-repeat #FFFFFF;
 float: right; 
 margin-right: 20px;
 display:inline; 
 }
.mainColBottom{
width:676px;
height: 16px;
background: url(images/bg_maincol_bottom.gif) center bottom;
 }


.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{
display: inline-block;
}
#wrapper{
	background-color: #737373;
}

.bodyBoxTop{
	width: 100%;
	height: 17px;
	background: url(images/bg_bodybox_top.gif) #737373 no-repeat;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


/* general & elements */
* {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
a { color: #095287;
text-decoration: none; }

a:hover{
	color: #6699CC;
}

#logo{
	float: left;
	clear: right;
	width: 500px;
}
.logo img{
	margin-top: 20px;
	margin-left: 20px;
}
.logo,.sitename {
	float: left;
	clear: right;
}
 .sitename{
 	margin-top: 35px;
	margin-left: 20px;
 }
 h1.site-name a{
 	color: #FFF;
	font-size: 14pt;
 }
  h2.site-slogan{
  	color: #6699CC
  }

#HeaderSearch{
 width:200px; 
 float:right; 
 margin-top: 40px;
 position:relative; 
 }
#HeaderSearch label{
	display: none;
}
#HeaderSearch .form-submit{
	background-color: #777;
	border: 0px;
	color: #DDD;
}
#HeaderSearch .form-text{
	background-color: #DDD;
	height: 14px;
	padding: 0px;
}
 
/* top menu */
ul#navlist
{
	margin: 0;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0;
	float: left;
	list-style-type: none;
}

#navlist li {
float: left; 
clear: right;
margin-left: 10px;
}

#navlist li a {
	font-family: Trebuchet MS;
	font-weight: bold;
	float: left;
	display: block;
	margin: 0px;
	padding: 5px 20px;
	color: #095287;
	border-bottom-width: 0;
	text-decoration: none;
		border-radius: 10px 10px 10px 10px;
	
}
#navlist li a{
	color: #FFF;
}
#navlist li a:hover
{
	color:#000;
	border-radius: 10px 10px 10px 10px;
	background-color: #ffca05;
}
#navlist li a.active
{
	color:#000;
	border-radius: 10px 10px 10px 10px;
	background-color: #ffca05;
}
ul.menu li {
    margin: 0 0 0 1.3em;
}
/* top left menu */
.region-topleft h2{
	display: none;
}
#primaryHead .menu
{
	margin: 0;
	margin-top: 10px;
	padding: 0;
	float: left;
	list-style-type: none;
	width: 158px;
}

#primaryHead .menu li {
	width: 158px;
border-bottom:1px dotted #CCC;
display:block !important;
float:left;
position:relative;
margin: 0px;
padding: 0px;
}
#primaryHead .menu li.first{
border-top:1px dotted #CCC;
}

#primaryHead .menu li a {
	font-family: Trebuchet MS;
	font-weight: bold;
	float: left;
	display: block;
	margin: 0px;
	padding: 5px 5px 5px 20px;
	width: 133px;
	color: #095287;
	border-bottom-width: 0;
	text-decoration: none;
}

#primaryHead .menu li a{
	color: #FFF;
}
#primaryHead .menu li a:hover
{
	color:#000;
	background-color: #FFCA05;
}
#primaryHead .menu li a.active
{
	color:#000;
	background-color: #FFCA05;
}

 .mainColContent{
 	padding: 10px;
 }
 .mainColContent h1.pagetitle{
 	width: 633px;
	height: 18px;
	padding-left: 10px;
	padding-top: 3px;
	margin-left: 6px;
	margin-bottom: 10px;
 	background-image: url(images/bg_maintitle.gif);
 }
 .breadcrumb{
 	width: 633px;
	height: 18px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 0px;
	margin-left: 6px;
	margin-bottom: 10px;
 	background-image: url(images/bg_breadcrumb.gif);
 }
 .mainColContent ol,  .mainColContent ul{
 	margin: 5px 5px 5px 30px;
 }
 #leftCol .block {
 	margin-bottom: 20px;
 }
 #leftCol .content{
 	margin-top: 5px;
 }
 #leftCol h2.title{
 	width: 134px;
	height: 18px;
	padding-left: 10px;
	padding-top: 3px;
 	background-image: url(images/bg_block_title.gif);
 }
 
/* TABLES */
table {
		border-collapse:collapse;
		background:#EFF4FB url(images/teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.9em/145% Tahoma,verdana;
		color: #333;	
		margin: 0px;
	width: 98%;
}

td, th {
		padding:4px;
}

caption {
		padding: 0 0 .5em 0;
		font-size: 1.2em;
		font-weight: 600;
		color: #333;
		background: transparent;
}

table a {
		color:#FF6600;
		text-decoration:none;
}
table a:hover {
		border-bottom: 1px dashed #bbb;
}
table a.tabledrag-handle:hover {
		border-bottom: 0px;
}
/* =head =foot */

thead th, tfoot th, tfoot td {
		background:#515151 url(images/llsh.gif) repeat-x;
		color:#fff;
		font-weight: 400;
}
thead th a {
		color:#EEE;
		background-color: transparent;
		border-bottom: dotted 1px #FFF;
}
thead th a:hover {
		color:#FFF;
		background-color: transparent;
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
		border-bottom: dotted 1px #333;
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}

tr.odd {background-color: #EEEEEE}
tr.even {background-color: #F5F5F5}
tr{background-color: #F5F5F5}
tbody tr:hover {
background:#FFF
}
/* form elements */
form {
	margin:10px; 
	padding: 0 10px;
}
.region-left .block-user form {
    margin: 4px;
    padding: 0 4px;
}
.region-left .block-user input{
	width: 95%;
}
.region-left .block-user .form-actions{
	text-align: center;
}
.region-left .block-user .form-submit{
	width: 50%;
}
fieldset{
	padding: 8px;
}
label {
	display:block;
	font-weight:600;
	margin:5px 0;
	color: #003366;
}
input {
	padding: 2px;
	border:1px solid #DDD;
	font: normal 1em Tahoma;
	color:#555;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Tahoma;
	border:1px solid #DDD;
	height:100px;
	display:block;
	color:#555;
}

option, select{
	font: normal 1em Tahoma;
}
input.button { 
	margin: 0; 
	font: 600er 12px Tahoma; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #CC0000;
}
.form-submit { 
	margin: 0; 
	font: 600er 12px Tahoma; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #CC0000;
}
.form-radio, .form-checkbox{
	border: none;
}
.form-item label{
	font-weight: 400;
}
.form-item label.option{
	font-weight: 400;
	color: #C00;
}
legend{
	color: #C00;
	padding: 0 3px 0 3px;
}
/* PAGER */
ul.pager{
	margin-top: 20px;
}
.item-list ul li {
margin:0 0 0.25em 0px;
}
.item-list .pager li {

padding:3px;
}
.pager .pager-current {
	padding: 7px;
	border: 1px solid #DADCE0;
	background-color: #F7F8FA;
	color: #000;
	font-size: 8pt;
	margin: 2px;
	font-weight: normal;
	margin-top: -5px;
}

.pager a {
	padding: 2px 5px 2px 5px;
	margin:0px 0.2em 0px 0.2em;
	background:#CCC;
	border:1px solid #777;
	font-size: 8pt;
	font-weight: normal;
}
.pager a:hover {
	text-decoration:none;
	background-color: #FF8800;
	color: #FFF;
}
.pager-ellipsis{
	padding: 2px 5px 2px 5px;
	margin:0px 0.2em 0px 0.2em;

	font-size: 8pt;
	font-weight: normal;
}
/**
 * Nodes & comments
 */
.node {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 1.5em 5px;
  overflow: hidden;
}
.nodetitle {
width:633px;
height: 18px;
padding: 3px 10px;
margin-left:0;
margin-bottom:10px;
background:url(images/bg_nodetitle.gif) no-repeat;
}
.links{
	margin: 5px 2px 0 15px;
}
ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}
.node .links, .comment .links {
  text-align: left; /* LTR */
}
.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}
.date{
  float: right;
  clear: both;
  padding: 2px;
  font-size: 7pt;
}
.submitted{
  font-size: 7pt;
  color: #777;
}
.new {
  color: #F00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; 
}
.terms {
  float: right; 
}
.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}
.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments{
	margin-top: 20px;
}
.comment {
  border: 1px solid #CCC;
  padding: .5em;
  margin-bottom: 0.9em;
}
.comment .submitted{
	font-size: 7pt;
}
.comment .content{
	padding: 10px;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: left;
  font-weight: 600;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  float: right;
}
  #primaryHead label{
  	color: #FFF
  }
 #primaryHead h2.title{
 	width: 134px;
	height: 18px;
	padding-left: 10px;
	margin-left: 7px;
	padding-top: 3px;
 	background-image: url(images/bg_block_title_topleft.gif);
 }
#primaryHead .block-user ul
{
	list-style-type: none;
	margin-top: 10px;
}
#primaryHead .block-user ul li {
display:block !important;
position:relative;
margin: 0px;
padding: 0px;
text-align: center;
list-style: none;
}
#primaryHead .block-user ul li a {
	font-family: Trebuchet MS;
	text-decoration: none;		
	color: #FFF;
    margin: 0px;
	font-size: 7pt;
}
#primaryHead .block-user ul li a:hover{
	color: #FFCA05
}
div.admin .right,div.admin .left  {
	margin: 0px;
	padding: 0px;
	width: 48%;
}
 .footer{
 	color: #EEE;
	text-align: center;
	float: left;
	clear: both;
	padding-top: 20px;
	width: 100%;
	height: 45px;
	background: url(images/bg_bodybox_bottom.gif) no-repeat;
}
.footer a {
	color: #999;
}
.footer a:hover {
	color: #6699CC;
}
/* image block */
.block-image .content{
	text-align: center;
}

dd{
	margin-bottom: 15px;
}
/* messages */
.messages {
  min-height: 32px;
  padding: 1.3em 1em .3em 1em;
  border: 2px solid #DADCE0;
  background: #fbfcfe;
  margin: 10px 0;
}
#content .messages ul,
#content .error ul {
  padding: 0px 5px 5px 20px;
  margin: 0;
}
div.status {
  background: url(images/icon-info.png) 3% 50% no-repeat;
}
div.error {
  border: 2px solid #E1471D;
  background: #FCD295 url(images/icon-alert.png) 3% 50% no-repeat;
}
div.error ul li, 
div.status ul li {
  list-style-type: square;
  list-style-image: none;
}
div.status,
div.error,
div.messages{
	padding: 16px 5px 0 70px;
}
/* profile */
.profile h3{
	font-size: 14pt;
	margin: 5px 0 5px 20px;
	border-bottom: solid 1px #555555;
}